.header{
	display: flex;
	width: 100%;
	height: 100px;
	background-color: white;
	justify-content: center;
	align-items: center;
}

body{
	background-image: url("mazebank3.png");
	
}

*{
	padding:0px;
	margin:0px;
}

h1{
	font-size: 40px;
	font-family: Montserrat;
	margin: 20px;
	padding: 20px;
}

h2{
	font-size: 30px;
	font-family: Montserrat;
}

h1:hover{
	font-size: 45px;
	font-family: Montserrat;
	color: red;
	margin: 30px;
}

.addendum{
	background-color: white;
	margin: 5px;
	padding: 10px;
}

.mb{
	display: inline-block;
}

.logo{
}

.footer{
	width: 100%;
	height: 100px;
	background-color: white;
	justify-content: center;
	align-items: center;
	padding: 5px;
}